---
---

@import "{{ site.theme }}";

footer {
  width: initial !important;
  position: initial !important;
  bottom: initial !important;
  float: right !important;
}

a .gpg {
  text-decoration: underline;
  text-decoration-style: dotted;
}
